.about-info {
  margin-top: auto;
  background-color: #292a29;
  padding: 75;
}

.site-desc-container {
  padding: 75px;
  margin-left: 25x;
}

.quicklinks-container {
  padding: 75px;
}

.quicklinks-label {
  font-size: 18px;
  margin-bottom: 20px;
}

.quicklinks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

li > a {
  text-decoration: none;
  color: white;
}

.follow-container {
  padding: 75px;
  color: white;
}

.social-icons {
  padding: 50x;
}

.insta {
  background-image: linear-gradient(
    to top right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  border-radius: 10px;
}
.footer {
  background-color: rgb(19, 31, 20);
  padding-top: 35px;
  padding-bottom: 20px;
  justify-content: center;
  color: rgb(149, 149, 149);
  font-size: large;
  margin-bottom: 0;
}
