.academy-body {
  background-color: rgba(0, 0, 0, 0.856);
  padding-bottom: 1px;
}
.academy-title {
  color: rgb(229, 229, 229);
}
.player-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  background-color: rgb(48, 70, 52);
}
#video-tabs {
  display: flex;
}
.tab {
  color: rgb(139, 139, 139);
  opacity: 97%;
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
.tab.active {
  color: white;
  opacity: 100%;
}

.tab:hover {
  color: rgb(207, 207, 207);
  opacity: 100%;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.tab-titles {
  text-align: left;
}
/* 
.react-player {
  position: relative;
  width: 100%; 
  height: 0;
  padding-top: 56.25%; 
}

.react-player > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
