.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: white;
}
.message-board {
  background-color: #000000df;
}
.message-frame {
  border: 2px;
  border-radius: 10px;
  background-color: #45664374;
  padding-bottom: 40px;
}
.message-head {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.message-date {
  text-align: start;
}
.message-card {
  box-shadow: 2px 3px #b7b7b7;
}

.share-input {
  border: solid 3px;
  border-color: #b7b7b7;
  border-radius: 25px;
  height: 65px;
  background-color: rgb(221, 221, 221);
  width: 100%;
  color: rgb(50, 50, 50);
  font-size: medium;
  font-style: italic;
}

.reply-card {
  display: flex;
  column-gap: 5px;
  margin: 20px;
}
.reply-text {
  text-align: left;
  border-radius: 20px;
  background-color: rgb(71, 71, 71);
  padding: 15px;
  color: white;
  width: 100%;
}
