.banner {
  padding: 25px;
  background-color: rgb(25, 130, 187);
  color: white;
}
.banner > h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}

.banner > p {
  font-family: "Dosis", sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.banner > Button {
  background-color: #2c5728;
  padding: 10px 35px 10px 35px;
  font-weight: 200;
  font-size: 15px;
}

.banner > Button:hover {
  border-color: black;
  background-color: #ffffff;
  padding: 10px 35px 10px 35px;
  font-weight: 300;
  font-size: 15px;
  color: black;
}

.landing-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1507692049790-de58290a4334?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-invite {
  background-color: rgba(0, 0, 0, 0.618);
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 40px 85px 40px 85px;
  color: white;
}

.all-access {
  font-weight: 800;
  font-size: 65px;
  font-style: italic;
}

.pass {
  color: #65c25d;
}
