.navi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.nav-links {
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  color: rgb(175, 175, 175);
  font-size: medium;
  padding: 10px;
}

.nav-links2 {
  border-top: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 1000px;
}

.nav-links:hover {
  background-color: #3e8e41;
  color: white;
  padding: 10px;
  transition: 0.5s;
}

.nav-container {
  background-color: #2c5728;
  border-top: 2px gray;
}
