.rss-wrap {
  display: flex;
  justify-content: center;

  background-color: rgb(90, 116, 137);
  padding: 35px;
}

.rss-main {
  background-color: rgb(74, 95, 112);
  padding: 50px;
  border-radius: 25px;
}
.rss-main h4 {
  color: rgb(255, 255, 255);
}
.divider {
  background-color: rgba(0, 0, 0, 0.618);
  padding: 10px;
  border-radius: 10px;
}

.title-link {
  text-decoration: none;
  color: rgb(74, 95, 112);
}
.author {
  font-size: smaller;
  color: dimgray;
}

.mod-txt1 {
  text-decoration: none;
}
.title-link:hover {
  cursor: pointer;
}
.accordlink:hover {
  cursor: pointer;
}

.mod-txt2 {
  text-align: left;
  font-family: sans-serif;
  color: rgb(168, 168, 168);
}

.mod-foot {
  display: flex;
  align-items: baseline;
  align-content: space-between;
  column-gap: 85px;
  font-size: small;
}
.snippet {
  text-decoration: none;
}
.modal-wrap {
  border: solid 3px;
  background-color: #366532;
  border-color: rgb(255, 255, 255);
  padding: 20px;
}
.modal-case {
  background-color: rgba(94, 94, 94, 0.873);
  border: solid 1px;
  border-color: rgb(255, 255, 255);
  padding: 20px;
}
.mod-title {
  border-color: rgb(124, 124, 213);
}

.rss-box {
  background-color: rgba(0, 0, 0, 0.618);
  border-radius: 25px;
  padding: 40px 85px 40px 85px;
  color: white;
  margin: 25px;
}
